<h1>/videos/id/index</h1>
Delete Campaign: <%= link_to interview_path(@interview), method: :delete, data: { confirm: "Are you sure you want to delete?" } do %>
<i class="fa fa-trash" aria-hidden="true"></i>
<% end %>
<!-- Videos-->
<section class="page-section" id="videos">
  <div class="container">
    <h2 class="text-center mt-0">Campaign Videos</h2>
    <hr class="divider my-4" />
    <div class="row">
      <div class="col-lg-3 col-md-6 text-center">
        <div class="mt-5">
          <div class="card-deck">
            <div class="card bg-warning" style="width: 300px;">
              <div class="card-header">Dee Dee Dexter</div>
              <div class="embed-responsive embed-responsive-16by9">
                <%= cl_video_tag("jljktqlatzwvivddpju0", :controls => true) %>
              </div>
              <div class="card-footer bg-light">
                <span class="score">
                  <span class="stars-active">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                  </span>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> 
  </div>
</section>

<% @interview.videos.each do |video| %>
  <%= link_to  interview_video_path(video.interview, video) do %>
  <div>
    <h2><%= video.name %></h2>
  <% end %>
  </div>
<% end %>
