<h3>Apply for <%= @interview.name %> at <%= @interview.company %></h3>

<div>Answer these questions on a video</div>

<% @interview.questions.each do |question| %>
    <div><%= question.question %></div>
<% end %>

<%= render 'form', video: @video %>

