<br>
<form class="form" method="POST" action="#">
    <div class="input-group input--large">
        <label class="label">Campaign name</label>
        <input class="input--style-1" type="text" placeholder="Role or title" name="going">
    </div>
    <div class="input-group input--medium">
        <label class="label">Start Date</label>
        <input class="input--style-1" type="text" name="checkin" placeholder="mm/dd/yyyy" id="input-end">
    </div>
    <div class="input-group input--medium">
        <label class="label">End Date</label>
        <input class="input--style-1" type="text" name="checkout" placeholder="mm/dd/yyyy" id="input-end">
    </div>
    <button class="btn-submit" type="submit">search</button>
</form>



