.flex-container {
  display: flex;
  flex-direction: column;
}

.flex-container2 {
  display: flex;
  justify-content: center;
}

.text-center {
  padding: 10px;
}

.form-container {
  display: flex;
  flex-direction: column;
}

.flex-container3 {
  padding-top: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  @media only screen and (max-width: 600px) {
  grid-template-columns: repeat(1, 1fr);
}
}

.align {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

