.flex-container {
  display: flex;
  flex-direction: column;
}

.flex-container2 {
  display: flex;
  justify-content: center;
}

.text-center {
  padding: 10px;
}

.form-container {
  display: flex;
  flex-direction: column;
}
