.row {
    display: flex;
}

.row h1 {
    width: 33.33%;
    flex: 10%;
    margin-left: 40px;
}

.row button {
    width: 50%;
    margin-left: 500px;
}

.row2 {
    display: flex;
    margin-bottom: 80px

}

.row2 h1 {
    width: 33.33%;
    flex: 10%;
    margin-left: 40px;
}

.row2 button {
    width: 50%;
    margin-left: 500px;
}
