<!-- http://localhost:3000/interviews/1/videos/1 -->

<div class="row">
  <div class="col-6">
    <div class="form-style-6">
      <%= simple_form_for [@video, @review], url:  interview_video_reviews_path(@interview, @video), method: :post do |f| %>
      <legend><span class="number">1</span> Rate the candidate</legend>
      <%= f.input :rating, collection: (1..5).to_a, label: false %>
      <legend><span class="number">2</span> Add some more details</legend>
      <%= f.input :comment, label: false %>
      <div class="form-actions">
        <%= f.submit "Submit", class: "btn btn-primary"%>
      </div>
      <% end %>
    </div>
  </div>
  <div class="col-6">
    <h1>Hello</h1>
  </div>
</div>


